.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 17px;
    color: blue;
}
body{
    background-size: cover;
}
.div_speed{
    float: left;
}
#speed ,#vol{
    font-size: 22px;
    margin: 15px;
}
.speedImg ,.volImg{
    width: 200px;
    border-radius: 100px;
}
.div_volume{
    float: right;
}
.playBtn{
    width: 140px;
    font-size: 25px;
}
canvas{
    border: 5px solid #9e504d;
    border-radius: 20px;
}